body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 200px;
    text-align: center;
}

body {
    background-color: #94bbe9;
}

.page {
    width: 700px;
    background-color: #94bbe9;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
}

.vis-container {
    width: 100%;
    text-align: center;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-top {
    padding-left: 50px;
}

.description-left {
    padding-right: 40px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}

.NBA-Emblem{
    width: 1500px;
    height:400px
}

.correlation-container{
    width: auto;
    height: auto;
}

.description-bottom{
    padding-bottom: 100%;
    margin-left: 20px;
    margin-left: 20px;
}

.logo-img{
    width:150px;
    height:150px;
}
p{
    text-align: center;
}
.NBA-name{
    color:goldenrod;
    font-style: italic;
}
.buplot.con{
width: 500px;
height:800px}
    
